<% if current_user %>
  <% if current_user.twitter %>
    <p><strong> Twitter: </strong> <%= current_user.twitter.user.name rescue nil %></p>
  <% end %>

  <% if current_user.facebook %>
    <p><strong> Facebook: </strong> <%= current_user.facebook.fetch.name rescue nil %></p>
  <% end %>

  <div id="facebook-friends">
    <table>
      <th> Facebook-only Friends </th>
      <% @facebook_friends.each do |ff| %>
        <tr>
          <td> <img src="<%= ff.picture %>" width = 50 height = 50 /> </td>
          <td> <%= ff.name %> </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="twitter-friends">
    <table>
      <th> Twitter-only Friends </th>
      <% @twitter_friends.each do |tf| %>
        <tr>
          <td> <img src="<%= tf.profile_image_url %>" width = 50 height = 50 /></td>
          <td> <%= tf.name %> </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
